html {
  cursor:default;
  margin: 0;
  padding: 0;
  font-family: 'fantasy', copperplate;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: linear-gradient(60deg, #b2e0f0, #f0f4f4);
}

header {
  font-family: 'fantasy', copperplate;
  font-size: 30px;
  cursor: pointer;
  color: #f00404;
}

input[type="button"] {
  width: 60px;
  height: 60px;
}

input {
  font-family: 'fantasy', copperplate;
  font-size: 11px;
  width: 150px;
  height: 20px;
  text-align: center;
}

#add-fighter-button {
  font-family: 'fantasy', copperplate;
  font-size: 11px;
  
}

#fighters-container {
  padding-left: 140px;
  justify-content: center;
  align-items: center;
}

.fighter-card  {
  border: 5px solid rgb(3, 2, 2);
  background: linear-gradient(20deg, #f00404, #f0f4f4);
  font-family: 'fantasy', copperplate;
  width: 300px;
  margin: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.fighter-cover-image {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 200px;
  height: 200px;
}

.name {
  font-size: 25px;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  color: white;
  background-color: black;
  width: 100px;
  height: 30px;
  justify-content: space-evenly;
}