html {
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-family: 'fantasy', copperplate;
}

input {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 150px;
  height: 18px;
  text-align: center;
}
