html {
  cursor:default;
  margin: 0;
  padding: 0;
  font-family: 'fantasy', copperplate;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url('https://c.tenor.com/ZRoxt-tO6zwAAAAC/tank-you-kung-fury.gif'); 
  background-size:cover;
}



header {
  font-family: 'fantasy', copperplate;
  font-size: 30px;
  cursor: pointer;
  color: #f00404;
  text-shadow: -1px 1px 0 rgb(249, 248, 248),
  2px 2px 0 #000,
  2px -2px 0 #000;
}

input[type="button"] {
  width: 60px;
  height: 60px;
}

input {
  font-family: 'fantasy', copperplate;
  font-size: 13px;
  padding-left: 23px;
  width: 150px;
  height: 18px;
  text-align: center;
}

button {
  cursor: pointer;
  color: white;
  background-color: red;
  width: 100px;
  height: 50px;
  justify-content: space-evenly;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#add-fighter-button {
  font-family: 'fantasy', copperplate;
  font-size: 15px;
  border-radius: 12px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#fighters-container {
  padding-left: 140px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.fighter-card  {
  border: 5px solid rgb(3, 2, 2);
  background: linear-gradient(20deg, #f00404, #f0f4f4);
  font-family: 'fantasy', copperplate;
  width: 300px;
  margin: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  /* border-top-left-radius: 15px; */
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  /* border-bottom-rinodght-radius: 15px; */
}

.fighter-card button {
  background: black;
  font-family: 'fantasy', copperplate;
  font-size: 15px;
  height: 20px;
  width: 90px;
}

.fighter-cover-image {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 200px;
  height: 200px;
}

.name {
  font-size: 25px;
  padding: 0;
  margin: 0;
}

